<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <% if session['user_id'] != nil %>
            <%= render(partial: 'reviews/form', locals: {product: @product, review: Review.new}) %>
          <% end %>
          <% @product.reviews.reverse_each do |review| %>
            <p>
            <dt>Review</dt>
            <dd><%= review.description %></dd>
            <dd><%= review.rating %>/5</dd>
            <% if session['user_id'] == review.user_id %>
              <dd><%= button_to('Delete', [@product, review], id: review.id, product_id: @product.id, method: :delete) %></dd>
            <% end %>
            </p>
          <% end %>
        </dl>
      </div>
    </div>

  </article>

</section>
